@charset "UTF-8";
#basketInfo {
	text-align : center;
}
#basketList {
	text-align : center;
	width : 900px;
	margin : 0 auto;
}
table.table {
	width : 900px;
	margin : 0 auto;
	nowrap : nowrap;
}
table.table th {
	text-align : center;
	background : #f1f1f1;
	white-space : nowrap;	
}
table.table td:nth-child(1) {
	text-align : left;
	text-indent : 5px;
	width : 600px;
}
#button {
	margin : 0px auto;
	text-align : center;
}
#totalBasket {
	text-align : center;
}
#basketBottom {
	text-align : center;
}
#pagebar-container{
	margin : 0 auto;
}
#search-container {
	display : inline-block;
	margin : 0 auto;
}