@charset "UTF-8";
#basketInfo {
	text-align : center;
}
#basketList {
	text-align : center;
	width : 1220px;
	margin : 0 auto;
}
table.table {
	width : 1200px;
	margin : 0 auto;
}
table.table th {
	text-align : center;
	background : #f1f1f1;
}
table.table td:nth-child(1) {
	text-align : left;
	text-indent : 5px;
}
#button {
	margin : 0px auto;
	text-align : center;
}
#totalBasket {
	text-align : center;
}
