
#chat-Container
{
	z-index: 99999;
	width: 300px;
	position: fixed !important;
	margin-left: 57%;
	margin-top: 0%;
}
#navSearch
{
	z-index: -9999;
}
/*@광준: 로그인팝업창 호출 시 어둡게 처리가 맨 앞으로 나와 순서를 조정함*/
.modal-dialog
{
	z-index: 1050;
}
nav#navbar-menuBar
{
	margin-bottom: 0px;
}
div#menuBar-Container
{
	margin-left: 2%;
}
/* 기호제거 */
ul.navbar-nav
{
	list-style:none;
    padding-left:0px;
    margin-right: 5%;
}
/* 좌측상단 로고 */	
a#home-img-Container
{
	padding-left: 0px;
	padding-top: 0px;
}
img#home_img
{
	min-width: 213px;
	min-height: 53px;
}
/* 텍스트 */
a.navbar-brand
{
	font-size: 2vmin;
	color: lightgray;	
}
a.navbar-brand:hover
{
	color: white;	
}
/* 메뉴 */
li.nav-item
{
	margin-top: 8%;
}
ul#navbar-menu
{
	margin-left: 3%;
	float: right;
	margin-bottom: 1%;
}
nav#navbar-menuBar
{
	position: static;
}
ul.nav navbar-nav navbar-right
{
	margin: 0 auto;
}
#login-Container
{
	margin-top: 0px;
	margin-bottom: 0px;
}
#login-Container
{
	position: absolute;
	right: 1px;
}
/* 검색 */
#hiddenInput-search
{
	margin: 0 auto;
}
#search
{
	width: 25%;
	height: 40px;
	border: 3px solid #286aa3;
}
#navSearch
{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 170px;
	margin-top: 20px;
	margin-bottom: 35px;
}
ul#navbar-menu
{
	display: flex;
	align-items: center;
}

.search-btn {
    height: 30px;
    right: 0;
    top: 5px;
    border-radius:1px;
}
#frm
{
	width: 30%;
	margin: 0 auto;
}