#passwordCheckedContainer{
   width:100%;
   height:625px;
   
}
#passwordChecked{
   position: absolute;
   width: 600px;
   height: 180px;
   left: 50%;
   top: 50%;
   margin-left: -300px;
   margin-top: -80px;
   border: 1px solid #e9e9e9;
    padding: 5px 9px 9px;
}
#passwordChecked h3{
   text-align: center;
   font-size: 1.3em;
}
#passwordChecked p{
   text-align: center;
}

#passwordCheckedInner{
   padding-top: 20px;
    border: 1px solid #e9e9e9;
    background-color: #fafafa;
    padding-bottom: 18px;
}
#passwordCheckedFieldSet{
   text-align: center;   
}
#passwordCheckedFieldSet label{
   margin-right: 15px;
}
.btn-gradient.cyan {
    background: rgba(27,188,194,1);
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(27,188,194,1)), to(rgba(24,163,168,1)));
    background: -webkit-linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
    background: -moz-linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
    background: -o-linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
    background: linear-gradient(rgba(27,188,194,1) 0%, rgba(24,163,168,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1bbcc2', endColorstr='#18a3a8', GradientType=0);
}
.btn-gradient {
    text-decoration: none;
    color: white;
    padding: 2px 15px;
    display: inline-block;
    position: relative;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom: 4px solid rgba(0,0,0,0.21);
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(0,0,0,0.15);
    margin-left: 8px;
}